<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- compiled and minified jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>




<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Archivo+Black|Pacifico|Poiret+One" rel="stylesheet">

<!-- main stylesheet -->
<link rel="stylesheet" href="/app.css">

<script src="/app.js"></script>

</script>

<title>Trips</title>

<body>
  <div class="row gradient banner">

    <!--nav bar -->
    <div class="navbar-fixed">
      <nav class="white opaque">
        <div class="nav-wrapper ">
          <a href="/" class="brand-logo center yellow-text pacifico">Aviato</a>
          <ul id="nav-mobile" class="right hide-on-small-only">
            <li class="user-font poiret-one">
              <%=traveler.name%>
            </li>
            <li class="user-spacing">
              <i class=" material-icons ">account_circle</i>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- banner content-->
    <div class=" spacing-top-m ">
      <div class="center-align">
        <h3 class="white-text poiret-one">Welcome, <%=traveler.name%></h3>
      </div>
      <div class="center-align">
        <a href="#add" type="submit" class="modal-trigger yellow black-text btn">Add Trip</a>
      </div>
    </div>

  </div>


  <!-- Page content -->
  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3 ">
      <h4 class="center-align">My Trips</h4>
    </div>
  </div>
  <div class="row">
      <%for(let i = 0; i < trips.length; i++){%>
        <div class="col s6 m6 l3 card">
          <div class="card-content">
              <span><a href="/trip/<%=trips[i].id%>"><%=trips[i].name%></a></span>
            <div class="card-action">
              <a id="<%=trips[i].id%>" class="modal-trigger" href="#modal<%=trips[i].id%>">Edit</a>
              <a href="/deleteTrip/<%=trips[i].id%>">Delete</a>
            </div>
          </div>
        </div>
      <%}%>
    </div>






  <!-- Modals -->

  <!--edit trip modal -->
  <%for(let i = 0; i < trips.length; i++){%>
  <div id="modal<%=trips[i].id%>" class="modal">
    <div class="modal-content">
      <h4>Edit Trip</h4>
      <div class="row">
        <form action="/editTrip/<%=trips[i].id%>" method="post" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="name" name="name" type="text" value="<%=trips[i].name%>">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
              <input id="description" name="description" type="text" value="<%=trips[i].description%>">
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="city" name="city" type="text" value="<%=trips[i].city%>">
              <label for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="state" type="text" name="state" value="<%=trips[i].state%>">
              <label for="state">state</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="Edit Trip">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%}%>


  <!-- add trip modal -->
  <div id="add" class="modal">
    <div class="modal-content">
      <h4>Create New Trip</h4>

      <div class="row">
        <form action="/traveler/addtrip" method="post" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input name="name" id="name" type="text">
              <label for="name">Classify Trip</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s6">
              <input id="city" name="city" type="text">
              <label for="city">City</label>
            </div>
            <div class="input-field col s6">
              <input id="state" type="text" name="state">
              <label for="state">State</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" name="description" type="text" class="materialize-textarea"></textarea>
              <label for="description">Description</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="Create Trip" class="btn right">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
