<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- compiled and minified jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>




<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Archivo+Black|Pacifico|Poiret+One" rel="stylesheet">

<!-- main stylesheet -->
<link rel="stylesheet" href="/app.css">

<script src="/app.js"></script>

</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<title>Trip</title>

<body>
  <div class="row gradient banner">
    <div class="navbar-fixed">
      <nav class="white opaque">
        <div class="nav-wrapper ">
          <a href="/" class="brand-logo center yellow-text pacifico">Aviato</a>
          <ul id="nav-mobile" class="right hide-on-small-only">
            <ul id="nav-mobile" class="right hide-on-small-only">
              <li class="user-font poiret-one">
                <a href="/traveler" class="user-font"><%=traveler.name%></a>
              </li>
              <li class="user-font poiret-one">
                <a href="/traveler/logout" class="user-font">Logout</a>
              </li>

            </ul>
          </ul>
        </div>
      </nav>
    </div>
    <!-- banner content -->
    <div class="center-align">
      <h3 class="white-text"><%=trip.name%></h3>
      <p class="white-text"><%=trip.city%>, <%=trip.state%></p>
      <p class="white-text"><%=trip.description%></p>
    </div>
  </div>




  <!-- content -->
  <div class="row">

    <!-- right -->
    <div class="section">
      <div class="container">


    <div class="y-scroll">
      <h3>Questions:</h3>
      <ul class="collapsible popout" data-collapsible="accordion">
        <%for(let i = 0; i < questions.length; i++){%>
          <li>
            <div class="collapsible-header"><%=questions[i].question%> <%=answers.filter((item) => item.question_id === questions[i].id).length%></div>
            <div class="collapsible-body"><span>
              <a class="modal-trigger" href="#modal<%=questions[i].id%>"><i class="material-icons teal-text text-lighten-2">edit</i></a>
              <a href="/deleteQuestion/<%=questions[i].id%>/<%=questions[i].trips_id%>"><i class="teal-text text-lighten-2 material-icons">cancel</i></a>
              <h4>Answers:</h4>
              <%if(answers.filter((item) => item.question_id === questions[i].id).length === 0){%>
                <p>No Answers</p>
              <%}else{%>
                <%for(let j = 0; j < answers.length; j++){%>
                  <%if(answers[j].question_id === questions[i].id){%>

                    <%if(answers[j].favorite){%>
                      <p><a href="/favoriteAnswer/<%=answers[j].id%>/<%=trip.id%>"><i class="material-icons teal-text text-lighten-2">favorite</i></a>
                      <%=answers[j].name%> says: <%=answers[j].answer%></p>
                    <%}else{%>
                      <p><a href="/favoriteAnswer/<%=answers[j].id%>/<%=trip.id%>"><i class="material-icons teal-text text-lighten-2">favorite_border</i></a>
                      <%=answers[j].name%> says: <%=answers[j].answer%></p>
                    <%}%>

                  <%}%>
                <%}%>
              <%}%>
              </span></div>
          </li>
        <%}%>
      </ul>
    </div>
  </div>

</div>

</div>
  <!-- Modal Trigger -->
  <div class="section">
  <div class="container">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalAsk">Ask a Question</a>
  <!-- Modal Structure -->
  <div id="modalAsk" class="modal">
    <div class="modal-content">
      <h4>Submit Question</h4>
      <div class="row">
        <form action="/addQuestion/<%=trip.id%>" method="post" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <select name="catagory">
                <option  selected>Select Catagory</option>
                <option value="Hotel">Hotel</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Things To Do">Things To Do</option>
                <option value="Misc">Misc</option>
              </select>
            </div>
            <div class="input-field col s6">
              <input id="question" name="question" type="text">
              <label for="question">Question</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="Submit Question">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%for(let i = 0; i < questions.length; i++){%>
<div id="modal<%=questions[i].id%>" class="modal">
  <div class="modal-content">
    <h4>Edit Question</h4>
    <div class="row">
      <form action="/editQuestion/<%=questions[i].id%>/<%=questions[i].trips_id%>" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <select name="catagory">
              <%if(questions[i].catagory == "Hotel"){%>
                <option selected value="Hotel">Hotel</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Things To Do">Things To Do</option>
                <option value="Misc">Misc</option>
              <%}else if(questions[i].catagory == "Restaurants"){%>
                <option selected value="Restaurants">Restaurant</option>
                <option value="Hotel">Hotel</option>
                <option value="Things To Do">Things To Do</option>
                <option value="Misc">Misc</option>
              <%}else if(questions[i].catagory == "Things To Do"){%>
                <option selected value="Things To Do">Things To Do</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Hotel">Hotel</option>
                <option value="Misc">Misc</option>
              <%}else{%>
                <option selected value="Misc">Misc</option>
                <option value="Things To Do">Things To Do</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Hotel">Hotel</option>
              <%}%>
            </select>
          </div>
          <div class="input-field col s6">
            <input id="question" name="question" type="text" value="<%=questions[i].question%>">
            <label for="question">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="submit" value="Edit Question">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%}%>

</body>

</html>
